.verticalScroll {
  width: 90%;
  cursor: pointer;
  margin: auto;
  text-align: left;
  display: flex;

  margin-bottom: 10rem;
  img {
    width: 50rem;
    height: auto;
  }
  div {
    margin: 3rem;
  }
  h3 {
    margin-top: 2rem;
  }
  p {
    margin-top: 2rem;
  }
}

.collection {
  h1 {
    margin-top: 10rem;
  }
  img {
    margin-top: -3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .verticalScroll {
    width: 90%;
    cursor: pointer;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    img {
      width: 100%;
    }
  }
}
