.intro {
  width: 85%;
  margin: auto;
  text-align: left;
  display: flex;
  margin-top: var(--margin-size);
  align-items: center;

  div {
    flex-basis: 50%;
  }
  h1 {
    font-size: 7rem;
    line-height: 10rem;
    padding-bottom: 4rem;
  }
  p {
    line-height: 4rem;
    padding-bottom: 8rem;
    width: 95%;
  }
  img {
    max-width: 50%;
  }
}

.place {
  padding: var(--margin-size) 0;
  margin-left: 10rem;
}
.introText {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    height: 5rem;
    border-right: 2px solid var(--body-color);
    border-left: 2px solid var(--body-color);
    padding: 1rem 5rem;
    margin: 0 4rem;
  }
}
.placeArtists {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.verticalScroll {
  cursor: grab;
  margin: 3rem;
  text-align: left;
  display: flex;
  div {
    margin: 3rem;
  }
  h3 {
    margin-top: 2rem;
  }
}
.artistCard {
  overflow-y: scroll;
  text-align: right;
}

.sells {
  text-align: left;

  margin: 0 10rem;
  p {
    width: 90%;
    line-height: 4rem;
  }
  .line {
    margin-top: -5rem;
  }
}
.soldPictures {
  margin-bottom: 10rem;
  display: flex;
  align-items: center;

  .description {
    margin-left: 10rem;
  }

  .paragraph {
    margin: 3rem 0;
    margin-bottom: 0rem;
  }
  .price {
    display: flex;
    align-items: center;
    p {
      font-size: 5rem;
      width: 25%;
    }
  }
}

.imageResp {
  max-width: 100%;
  height: auto;
}

.decorationElements {
  position: relative;
  .star1 {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }
  .arrow {
    position: absolute;
    left: 55rem;
    top: 5rem;
    width: 12rem;
  }
  .star2 {
    position: absolute;
    right: 20rem;
    top: 5rem;
    width: 10rem;
  }
  .star3 {
    position: absolute;
    right: 20rem;
    top: -10rem;
  }
  .star4 {
    position: absolute;
    top: -10rem;
    left: 50rem;
    width: 9rem;
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 1000px) {
  .intro {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    div {
      flex-basis: 100%;
      order: 2;
    }
    p {
      line-height: 4rem;
      padding-bottom: 8rem;
      width: 100%;
    }
    margin: auto;
    img {
      order: 1;
      max-width: 100%;
    }
  }

  .place {
    padding: var(--margin-size) 0;
    margin-left: 0rem;
  }
  .introText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    .artistText {
      display: none;
    }
    p {
      height: 5rem;
      border-right: 0px solid var(--body-color);
      border-left: 2px solid var(--body-color);
      padding: 0px;
      margin: 0px;
    }
  }
  .placeArtists {
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
  .verticalScroll {
    display: none;
  }

  .sells {
    text-align: left;

    margin: 0 1rem;
    p {
      width: 100%;
      line-height: 4rem;
    }
    .line {
      margin-top: -5rem;
    }
  }
  .soldPictures {
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      order: 2;
    }
    .description {
      margin: 0rem;
    }

    .paragraph {
      margin: 3rem 0;
      margin-bottom: 0rem;
      max-width: 100%;
      height: auto;
    }
    .price {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      p {
        font-size: 5rem;
      }
      img {
        max-width: 20rem;
      }
    }
  }

  .decorationElements {
    position: relative;

    .arrow {
      display: none;
    }
    .star2 {
      display: none;
      position: absolute;
      right: 20rem;
      top: 5rem;
      width: 10rem;
    }
    .star3 {
      position: absolute;
      right: 20rem;
      top: -10rem;
    }
    .star4 {
      position: absolute;
      top: -5rem;
      left: 30rem;
      width: 9rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .soldPictures {
    .price {
      p {
        font-size: 5rem;
        width: 100%;
        flex-basis: 50%;
      }
      img {
        flex-basis: 50%;
        width: 10rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .decorationElements {
    .star2 {
      display: none;
      position: absolute;
      right: 20rem;
      top: 5rem;
      width: 10rem;
    }
    .star3 {
      position: absolute;
      right: 20rem;
      top: -10rem;
    }
    .star4 {
      position: absolute;
      top: -5rem;
      left: 20rem;
      width: 5rem;
    }
  }

  .introText {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;

    text-align: center;

    .artistText {
      display: none;
    }
    p {
      height: 5rem;
      margin-right: 2rem;
      border-right: 0px solid var(--body-color);
      border-left: 0px solid var(--body-color);
      padding: 0px;
      margin: 0px;
    }
  }
}
