.product {
  display: flex;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  .productImage {
    max-width: 50%;
    margin-right: 4rem;
  }
  .productDetails {
    .name {
      padding-bottom: 2rem;
    }
    .type {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    .size {
      font-size: 1.5rem;
      padding-bottom: 4rem;
    }
    .price {
      padding: 2rem 0;
      font-size: 5rem;
      border-top: 2px solid var(--body-color);
    }
    .shipping {
      margin-bottom: 4rem;
    }
    button {
      width: 100%;
      font-family: "Antic Didone", serif;
      font-size: 2.4rem;
      border: 2px solid var(--cta-color);
      border-radius: 7px;
      padding: 2rem;
      transition: 0.3s;
      background-color: transparent;
      cursor: pointer;
      color: var(--white);
    }
    button:hover {
      background-color: var(--cta-color);
      color: var(--inside-box-color-dark);
    }

    .description {
      margin-top: 4rem;
      border-top: 2px solid var(--body-color);
      padding-top: 2rem;
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .product {
    flex-wrap: wrap;
    justify-content: space-around;
    .productImage {
      max-width: 100%;
      margin-right: 0rem;
      margin-bottom: 4rem;
    }
    .productDetails {
      max-width: 70%;
    }
  }
}
@media only screen and (max-width: 400px) {
  .product {
    flex-wrap: wrap;
    justify-content: space-around;
    .productImage {
      max-width: 100%;
      margin-right: 0rem;
      margin-bottom: 4rem;
    }
    .productDetails {
      max-width: 100%;
    }
  }
}
