@import url(./scss/_reset.scss);
@import url(./scss/_globals.scss);
@import url(./scss/_variables.scss);

.App {
  text-align: center;
  background-image: url(./Assets/background.jpg);
  padding-top: 3rem;
  width: 100%;
  height: 100rem;
}
