@import url(./scss/_reset.scss);
@import url(./scss/_globals.scss);
@import url(./scss/_variables.scss);

.App {
  text-align: center;
  background-color: #4a4532;
  padding-top: 3rem;
  width: 100%;
}
