/* Variables */
:root {
  /* Reset 1rem = 10px */
  font-size: 10px;

  /* Basic colors */
  --white: #ffffff;
  --black: #000000;

  /* Layout Colors */
  --inside-box-color: #464232;
  --inside-box-color-dark: #242114;
  --outside-box-color: #494533;

  /* Text and Cta Colors */
  --cta-color: #faf8eb;
  --header-color: #e4e4d4;
  --body-color: #a7a99d;

  /* Margin sections */
  --margin-size: 15rem;
}
